POSTGRES_DB=ai_mafia
POSTGRES_MIGRATION_USER=migration_user
POSTGRES_MIGRATION_PASSWORD=change-this-local-password
POSTGRES_APP_USER=app_user
POSTGRES_APP_PASSWORD=change-this-app-password
POSTGRES_HOST_PORT=55432
REDIS_HOST_PORT=56379
